.challenge-page {
    padding: 20px 20px;

    .challenge {
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 10px 0px;
        cursor: pointer;

        img {
            width: 70px;
            height: 90px;
        }

        .column {
            display: flex;
            flex-direction: column;

            p {
                font-size: 0.8rem;
                color: grey;
            }
        }

        .icon-detail {
            margin-left: auto;
        }

    }
}

.background-badge {
    width: 100%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;

    img {
        width: 140px;
        height: 180px;
    }
}

.modal-bottom-button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right bottom,
            #ff5c5c,
            #ad6dfc);
    color: white;
    padding: 15px 0px;
    margin: 15px 0px;
    border-radius: 20px;
    font-size: 1.2rem;
}

.challenge-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;

    p {
        display: flex;
        justify-content: space-between;

        span:nth-child(1) {
            font-weight: bold;
        }
    }
}