.main-page {
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0px 20px;
  }

  .circular{
    border-radius: 10px;
  }

  .main-menu {
    width: 100%;
    height: 600px;
    display: grid;
    background-color: bisque;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-template-areas:
      'individual-record challenge'
      'ranking challenge';
    gap: 10px;
    justify-content: center;

    .record-container {
      grid-area: individual-record;
      background-color: gainsboro;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .challenge-container{
      grid-area: challenge;
      background-color: gainsboro;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

      .challenge{
        width: 90%;
        background-color: white;
        padding: 10px;
        margin: 20px 5px;
        

        .progress-bar{
          width: 100%;
          background-color: #f0f0f0;
          height: 15px;
          border-radius: 5px;
          margin: 10px 0px;

          .progress{
            
            height: 15px;
            border-radius: 5px;
            background-color: skyblue;
          }
  
        }
      }

      
    }

    .ranking-container {
      grid-area: ranking;
      background-color: gainsboro;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
