@import '../../App.scss';

.introduction_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  header {
    position: fixed;
    background-image: linear-gradient(
      to right bottom,
      #ff5c5c,
      #ad6dfc
    );
    color: white;
    height: 6vh;
    min-width: 100vw;
    max-width: $max-width;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #eaeaea;
    padding-left: 1rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 5;
  }

  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: $max-width;
    height: 20%;
    background-color: white;
    z-index: 10;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    button {
      display: flex;
      justify-content: end;
    }

    li {
      margin: 10px 0px;

      span {
        cursor: pointer;
      }

      a {
        cursor: pointer;
        color: black;
      }
    }
  }

  .empty {
    height: 60px;
  }

  // 삭제할 거
  .to_main {
    width: 100%;
    display: flex;
    align-items: center;
    display: center;
    background-color: white;
    color: black;
    text-align: center;
  }

  section {
    padding: 20px;
  }

  .gradient-text {
    background: linear-gradient(
      to right bottom,
      #ff5c5c,
      #ad6dfc
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  .function {
    width: 100%;
    height: 40%;
    background-color: aliceblue;
    margin: 1rem 0px;
    border-radius: 10px;

    .container {
      padding: 20px;

      .function-content {
        margin: 10px 0px;
      }
    }
  }

  .kakao_login_button {
    position: fixed;
    left: 50%;
    cursor: pointer;
    bottom: 60px;
    z-index: 1;
    transform: translate(-50%);
    min-width: 280px;
    max-width: 280px;
    margin: auto;
    width: 30%;
  }

  @media (min-width: $max-width) {
    .menu {
      width: 100%;
    }

    header {
      min-width: $max-width;
    }
  }
}
