.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px 0px;
    border-radius: 10px;
    border: 1px solid black;

    .previous-button,.next-button{
        font-weight: bold;
        cursor: pointer;
    }

    .calendar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .calendar-tile {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .smile{
                position: relative;
                
            }
        }
    }

}

