.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6vh;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #505050;
  }

  .icon-back {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1.5rem;

    .nav-link {
      color: rgb(155, 155, 155);
      font-size: 20px;
      font-weight: bold;
    }

    // 선택되었을 때
    .active {
      color: rgb(35, 35, 35);
    }
  }

  .icon-bell {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.5rem;

    .nav-link {
      color: rgb(155, 155, 155);
      font-size: 20px;
      font-weight: bold;
    }

    // 선택되었을 때
    .active {
      color: rgb(35, 35, 35);
    }
  }
}
