.nav_container {
  width: 100%;
}

.nav_bar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 440px;
  height: 60px;
  margin: 0;
  background-color: green;
  bottom: 0;


  // navbar 요소
  li {

    // 선택되지 않았을 때
    .nav-link {
      color: black;
    }

    // 선택되었을 때
    .active {
      color: white;
    }

  }



}