header{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 8px;
    gap: 10px;

    hr{
        margin: 5px 0px;
    }

    .notification{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-info{
            display: flex;
            align-items: center;

            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }

            .timestamp{
                font-size: 0.75rem;
                color: gray;
            }
    
            .friend-request-info{
                display: flex;
                flex-direction: column;
    
                span:first-child{
                    font-size: 1rem;
                }
                    
                span:nth-child(2){
                    font-size: 0.75rem;
                    color: gray;
                }
            }
        }

        .button-container{
            .accept-button{
                padding: 5px;
                background-color:blue;
                color: white;
            }

            .reject-button{
                padding: 5px;
                background-color:grey;
                color: white;
                
            }
        }

        
    }
}