.camera-recognition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  height: 100%;
}

.video-box {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid transparent;
}

.video-box.animate {
  animation: borderAnimation 1s ease-in-out;
}

.video-box.distort-animation {
  animation: distort 5s ease-in-out;
}

@keyframes distort {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 68% 32% 70%;
  }
  25% {
    border-radius: 54% 46% 70% 30% / 65% 62% 38% 35%;
  }
  50% {
    border-radius: 81% 19% 39% 61% / 67% 33% 67% 33%;
  }
  75% {
    border-radius: 51% 49% 22% 78% / 26% 69% 31% 74%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 68% 32% 70%;
  }
}

.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emotion-display {
  margin: 20px 0;
  text-align: center;
}

.circle-animation {
  position: absolute;
  margin-top: 10px;
  width: 370px;
  height: 370px;
  border-radius: 50%;
}

.circle-animation circle {
  fill: none;
  stroke: #ff125d;
  stroke-width: 5;
  stroke-dasharray: 1100; /* Adjust this value to match the circumference */
  stroke-dashoffset: 0; /* Adjust this value to match the circumference */
  //animation: drawCircle 3s linear forwards;
}
.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes drawCircle {
  from {
    stroke-dashoffset: 942; /* Adjust this value to match the circumference */
  }
  to {
    stroke-dashoffset: 0;
  }
}

.max-happy-percentage {
  font-size: 2rem;
  font-weight: bold;
  color: #ff125d;
}

.happy-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
.circle {
  fill: none;
  stroke: #ff125d;
  stroke-width: 5;
  stroke-dasharray: 942;
  stroke-dashoffset: 942;
  animation: drawCircle 3s linear forwards;
}

.checkmark {
  position: absolute;
  width: 150px;
  height: 150px;
  fill: none;
  stroke: #ff125d;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0;
  animation: fadeInCheck 1s ease forwards;
  animation-delay: 3s;
}

@keyframes fadeInCheck {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.url-button {
  margin-top: 4rem;
  border-radius: 1.2rem;
  padding: 1rem 2.5rem;
  background-image: linear-gradient(
    to right bottom,
    #ff5c5c,
    #ad6dfc
  );
  font-size: 1.2rem;
  color: white;
  border: none;
}
button:hover {
  opacity: 0.8; /* 색을 조금 흐리게 함 */
}
