body,
html {
  height: 100%;
  margin: 0;
}

.camera-recognition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.video-box {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}

.emotion-display {
  margin: 20px 0;
  text-align: center;
}

@keyframes drawCircle {
  from {
    stroke-dashoffset: 942;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInCheck {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  fill: none;
  stroke: #1890ff;
  stroke-width: 5;
  stroke-dasharray: 942;
  stroke-dashoffset: 942;
  animation: drawCircle 3s linear forwards;
}

.checkmark {
  position: absolute;
  width: 150px;
  height: 150px;
  fill: none;
  stroke: #1890ff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0;
  animation: fadeInCheck 1s ease forwards;
  animation-delay: 3s;
}
