.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  min-width: 360px;
  max-width: 380px;
  margin: 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);

  .calendar-header {
    display: flex;
    font-size: 1.15rem;
    font-weight: bold;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    justify-content: center;
    .today-button {
      margin-left: 20px;
    }
  }

  .calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0.8rem;

    .previous-button,
    .next-button {
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }

    .calendar-tile {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      padding: 10px;

      // 오늘인 경우 배경색 변경
      &.today {
        background-image: linear-gradient(
          to right bottom,
          #ff5c5c,
          #ad6dfc
        );
      }
      // 요일
      .calendar-dayofweek {
        font-size: 16px;
        font-weight: bold;
      }

      .smile {
        position: absolute;
        left: 0;
      }

      // 일
      .calendar-day {
      }

      .sat {
        color: blue;
      }

      .sun {
        color: red;
      }
    }
  }

  button {
    border-radius: 5px;
    padding: 5px;
    background-image: linear-gradient(
      to right bottom,
      #ff5c5c,
      #ad6dfc
    );
    color: white;
    border: none;
  }
  button:hover {
    opacity: 0.8; /* 색을 조금 흐리게 함 */
  }
  .smile-button {
    padding: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
