/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body,
html {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  /* 배경색 설정 */
  overflow-x: hidden;
  overflow-y: hidden;
}

.page {
  width: 600px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 100vh;
}

.wrap {
  width: 600px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.is_nav {
  padding-bottom: 60px;
}

/* 뷰포트 너비가 600px 이하일 때 적용되는 스타일 */
@media (max-width: 600px) {
  .page {
    width: 100%;
  }
  .wrap {
    width: 100%;
  }
}
